.slime {
    width: 100%;
    height: 100%;
    /* position: relative(ou outro fora static)
        para poder setar z-index */
    position: relative;
    z-index: -10;

    transition: all 0.7s ease;
}

.slime-container {
    /*  possiton: absolute 
        para sair do fluxo do flexbox */
    position: absolute;

    transform: translate(0, 0);
    transition: transform 0.5s ease;
}
