@use '../../utils/scss/constants';

.slime-container {
    // possiton: absolute 
    // para sair do fluxo do flexbox
    // mas continua functionando o atributo
    // justify-content: center e align-items: center
    position: absolute;

    // pra voltar na posicao inicial
    // apos desaplicar animacao translate.
    // na hora de animacao vai ser atribuido classe.
    // classname esta configurado em 'utils/scss/constant'.
    transform: translate(0, 0);
    transition: transform constants.$slime_container_moving_duration ease;

    &__slime {
        width: 100%;
        height: 100%;
        
        // position: relative(ou outro fora static)
        // pra poder setar z-index
        position: relative;
        z-index: -10;

        // all = opcity, fill...
        transition: all constants.$slime_highlight_duration ease;
    }
}
