@use '../../utils/scss/constants';

.translate-area-btn {
    width: 10rem;
    padding: 1rem 0rem;
    text-align: center;
    font-size: 1.3rem;
    z-index: 10;

    // posicao sera setado pelo style para facilitar
    // ou pelo stylesheet .scss para cada componente
    position: absolute;

    &:hover {
        cursor: pointer;

        color: white;
        transition: color constants.$translate-button-highlight-duration ease;
    }
}
