body {
  background-color: #EAE9E5;
}

* {
  margin: 0px;
  box-sizing: border-box;
}
#main {
  width: 300vw;
  height: 200vh;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr calc(100vw - 6rem) 1fr;
  grid-template-areas: "empty1 empty1 work" "profile home work" "profile home contact" "empty2 empty2 contact";
  transform: translate(-100vw, -50vh);
  transition: transform 0.3s ease;
  position: fixed;
}

#home {
  grid-area: home;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#profile {
  grid-area: profile;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#work {
  grid-area: work;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#contact {
  grid-area: contact;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#empty1 {
  grid-area: empty1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#empty2 {
  grid-area: empty2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#profile {
  margin-right: 3rem;
}

#work {
  margin-left: 3rem;
}

#contact {
  margin-left: 3rem;
}
.translate-area-btn {
  width: 10rem;
  padding: 1rem 0rem;
  text-align: center;
  font-size: 1.3rem;
  z-index: 10;
  position: absolute;
}
.translate-area-btn:hover {
  cursor: pointer;
  color: white;
  transition: color 0.5s ease;
}
#profile-container {
  width: 100%;
  height: 100%;
  padding: 12vh 12vw;
  position: relative;
  overflow-y: scroll;
  z-index: 1;
}
#profile-container :last-child {
  margin-bottom: 3vh;
}
.slime-container {
  position: absolute;
  transform: translate(0, 0);
  transition: transform 0.7s ease;
}
.slime-container__slime {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -10;
  transition: all 0.7s ease;
}
#profile-slime-container {
  width: 140vw;
  height: 125vh;
}
#profile-slime-container.highlight {
  transform: translateX(10vw);
}
#profile-slime-container__slime {
  transform: rotate(180deg);
  fill: #e8a2a0;
}
#profile-slime-container__slime.highlight {
  fill: #cc2121;
  opacity: 0.7;
}
#contact-slime-container {
  width: 140vw;
  height: 125vh;
}
#contact-slime-container.highlight {
  transform: translateX(-10vw);
}
#contact-slime-container__slime {
  fill: #e8a2a0;
}
#contact-slime-container__slime.highlight {
  fill: #cc2121;
  opacity: 0.7;
}
#work-slime-container {
  width: 140vw;
  height: 125vh;
}
#work-slime-container.highlight {
  transform: translateX(-10vw);
}
#work-slime-container__slime {
  fill: #e8a2a0;
}
#work-slime-container__slime.highlight {
  fill: #cc2121;
  opacity: 0.7;
}
