/* slime container */
.slime-container {
    transform: translate(0, 0);
    transition: transform 0.5s ease;
}

#profile-slime-container.slime-highlight {
    transform: translate(10vw, 0);
}

#work-slime-container.slime-highlight,
#contact-slime-container.slime-highlight {
    transform: translateX(-10vw);
}


/* slime */
.slime {
    transition: all 0.7s ease;
}

#profile-slime {
    transform: rotate(180deg);
    fill: #e8a2a0;
}

#profile-slime.slime-highlight {
    fill: rgb(204, 33, 33);
    opacity: 0.7;
}

#work-slime, #contact-slime {
    fill: #e8a2a0;
}

#work-slime.slime-highlight, #contact-slime.slime-highlight {
    fill: rgb(204, 33, 33);
    opacity: 0.7;
}