* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #EAE9E5;
}

.main {
    width: 300vw;
    height: 200vh;

    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr calc(100vw - 6rem) 1fr;
    grid-template-areas:
        "none1 none1 work"
        "profile title work"
        "profile title contact"
        "none2 none2 contact";

    transform: translate(-100vw, -50vh);
    transition: transform 0.3s ease;

    position: fixed;
}

.title { 
    grid-area: title;
    /* comment */
}

.profile { 
    grid-area: profile;
    margin-right: 3rem;
}

.work { 
    grid-area: work;
}

.contact { 
    grid-area: contact
}

.title, .work,
.profile, .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.work, .contact {
    margin-left: 3rem;
}

.none1 { grid-area: none1 }
.none2 { grid-area: none2 }
