body {
    margin: 0px;
    background-color: #EAE9E5;
}

.main {
    width: 300vw;
    height: 200vh;
    transform: translate(-100vw, -50vh);

    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr calc(100vw - 6rem) 1fr;
    grid-template-areas:
        "none1 none1 profile"
        "work title profile"
        "work title contact"
        "none2 none2 contact";

    transition: transform 1s ease;
}

.title   { grid-area: title   }
.work    { grid-area: work    }
.profile { grid-area: profile }
.contact { grid-area: contact }

.profile, .contact {
    margin-left: 3rem;
}

.none1   { grid-area: none1   }
.none2   { grid-area: none2   }
