@use './utils/scss/constants';

body {
    background-color: constants.$background_color;
}

* {
    margin: 0px;
    box-sizing: border-box;

    font-family: "Times New Roman", sans-serif;
}

button {
    &:focus {
        outline: none;
    }

    &:hover {
        cursor: pointer;
    }
}