#profile-slime {
    transform: rotate(180deg);
    fill: #e8a2a0;
}

#profile-slime.slime-highlight {
    fill: rgb(204, 33, 33);
    opacity: 0.7;
}

#profile-slime-container.slime-highlight {
    transform: translate(10vw, 0);
}
